body {
    background-color: hsl(0, 0%, 95%);
    hyphens: auto;
    max-height: 100vh;
}
/*Main Content Container*/
main {
    margin: 88px auto;
    max-width: 327px;
}
/*Main Content Container End*/
/*Seperate Containers*/
.containers {
    max-height: 442px;
}
.one {
    background-color: hsl(31, 77%, 52%);
    border-radius: 10px 10px 0 0;

}
.two {
    background-color: hsl(184, 100%, 22%);
}
.three {
    background-color: hsl(179, 100%, 13%);
    border-radius: 0 0 10px 10px;
}
/*Text inside cotainers*/
svg {
    margin-top: 49px;
}
.textinsidecotainers {
    height: 442px;
    margin: 0 49px;
}
.headers {
    margin-top: 32px;
    margin-bottom: 27px;
    font-size: 40px;
}
.paragrafs {
    margin-bottom: 41px;
    line-height: 25px;
    font-size: 15px;

}
/*Seperate Container End*/
/*Text fonts and colors*/
h1 {
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
    color: hsl(0, 0%, 95%);
}
p {
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400; 
    color: hsla(0, 0%, 100%, 0.75); 
}
/*Text fonts and colors Ends*/
/*Buttons*/
.button {
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400; 
    border: 4px solid white;
    background-color: white;
    text-decoration: none;
    padding: 12px 28px;
    border-radius: 40px;
}
.button:hover {
    background-color:transparent ;
    color: white;
}
.buttontextone {
color: hsl(31, 77%, 52%);
}
.buttontexttwo {
color:hsl(184, 100%, 22%);
}
.buttontextthree {
color: hsl(179, 100%, 13%);
}
/*Buttons Ends*/
/*========================Media Querry==========================*/
@media screen and (min-width: 785px) {
main {
    margin: 170px auto 130px;
    max-width: 920px;
    display: flex;
}
.containers {
    min-height: 500px;
    width: 33.3%;
}
.one {
    border-radius: 10px 0 0 10px;
}
.three {
    border-radius: 0 10px 10px 0px;
}
.textinsidecotainers {
    height: 500px;
    margin: 0 49px;
}
.paragrafs {
    margin-bottom: 97px;
}
}
@media screen and (min-width: 1000px) {
    main {
        margin: 80px auto 100px;
    }
    footer {
        position: absolute;
        bottom: 0px;
        background-color: aquamarine;
        font-size: 30px;
    }
}